body{
    background: url(images.jpeg) no-repeat right top fixed;
    margin-right: 200px;
    

    
    
}

h1{
    color: orange;
    text-align: center;
}
p{
    color: skyblue;
    text-align: center;
   
}

#about{
    text-align: none
    ;
}

